* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: #fdfdfd;
    width: 100%;
    position: fixed;
    z-index: 0;
    padding: 10px 0;
}

.log-in-out li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
}

.bar {
    width: 80%;
    margin: auto;
    padding: 0px 30px;
}

.navbar .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .log-in-out {
    display: inline-flex;
}

.log-in-out li {
    list-style: none;
    
}

.padding {
    padding-top: 180px;
}

.Skedgelogoindex:hover b {
    color: #1900ff;
}

.navbar .Skedgelogoindex a {
    color: rgb(0, 172, 224);
    font-size: 50px;
    font-weight: 600;
    text-decoration: none;
}


* {
    font-family: 'Roboto', sans-serif;
}


html,
body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.rounded_border {
    padding: 10px 9px;
    border: 2px solid rgb(0, 172, 224);
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    text-align: center;
}

body {
    background-color: #fdfdfd;
}

.notextdec {
    text-decoration: none;
    color: rgb(0, 172, 224);
    font-weight: 150;
}

.paragraphleft {
    idk;
}

.paragraphright {
    test; 
}

.block { 
    display: flex; 
    justify-content: center; 
}

.headings {
    display: flex; 
    color:rgb(0, 172, 224)

    

}

.skedgefooter {
    color: rgb(0, 172, 224);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    padding: 10

} 

.linkedin{
    text-align: center;
    margin: auto;
    padding: 10
}
