* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: #fdfdfd;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 10px 0;
}

.rounded_border {
    padding: 10px 9px;
    border: 2px solid rgb(0, 172, 224);
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    text-align: center;
}

body {
    background-color: #fdfdfd;
}

.notextdec {
    text-decoration: none;
    color: rgb(0, 172, 224);
    font-weight: 150;
}

.log-in-out li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
}

.bar {
    width: 80%;
    margin: auto;
    padding: 0px 30px;
}

.navbar .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .log-in-out {
    display: inline-flex;
}

.log-in-out li {
    list-style: none;
    
}

.padding {
    padding-top: 150px;
}

.Skedgelogoindex:hover b {
    color: #1900ff;
}

.navbar .Skedgelogoindex a {
    color: rgb(0, 172, 224);
    font-size: 50px;
    font-weight: 600;
    text-decoration: none;
}

.frsent {
    color: green;
}

.bio {
    background-color: white;
    width: 50%;
    text-align: left;
    padding: 30px;
    border-radius: 20px;
    border: #e7e0e0 1px solid;
}


.classes {
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    border: #e7e0e0 1px solid;
}

.classes ul {
    text-align: left;
}