* {
  font-family: 'Roboto', sans-serif;
}

#name {
  background-color: transparent;
  font-family: "Roboto";
  font-size: 65px;
  text-align: center;
  color: #525252;
  font-weight: 450;
  padding-top: 20px;
  padding-bottom: 15px;
}

body {
    background-color: lightskyblue;
}