* {
    font-family: 'Roboto', sans-serif;
}

#name {
    background-color: transparent;
    font-family: "Roboto";
    font-size: 65px;
    text-align: center;
    color: #525252;
    font-weight: 450;
    padding-top: 20px;
    padding-bottom: 15px;
}

.Skedgelogo {
    width: center;
    height: 38px;
    padding: 18px 50px;
    color: rgb(0, 172, 224);
    font-size: 1.1cm;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}



/* .Skedgelogoindex {
    width: 130px;
    height: 38px;
    padding: 18px 50px;
    color: rgb(0, 172, 224);
    font-size: 1.5cm;
    font-weight: 400;
    position: fixed;
    cursor: pointer;
    transition: color 0.34s ease 0s;
    user-select: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
} */


.topbar {
    /* random shit */
    /* nice */
}

body {
    background-color: #fdfdfd;

}


button {
    cursor: pointer;
}

.buttons {
    float: right;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.form-container {
    background-color: white;
    width: 35%;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    border: #e7e0e0 1px solid;
}

.table-container {
    margin-top: 50px;
    margin-left: 5%;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    border: #e7e0e0 1px solid;
    display: inline-block;
}

.form-container h1 {
    font-weight: 100;
}

.form-row {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.form-row input,
.form-row button {
    border: black 1px solid;
    /* Alex said he will deal with this cause its his job and he hasnt done anything yet. */
    /* border-radius: 10px; */
    /* Alex what do u thnk of making the borders the same gray as the placeholder color */
    flex-grow: 1;
    max-width: 100%;
    margin-left: 10px;
    padding: 10px;
}

html,
body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

#friend-list {
    display: block;
    margin: 0;
    padding: 0;
    width: 350px;
    height: 500px;
    background: #fdfdfd;
    list-style-type: none;
    position: absolute;
    right: 9%;
    top: 25%;
}



table th {
    text-align: center;
    background-color: white;
    border: 1px solid #dadada;
    color: rgb(119, 119, 119);
    width: 200px;
    height: 30px;
}

table td {
    text-align: center;
    background-color: white;
    border: 1px solid #dadada;
    color: rgb(119, 119, 119);
    width: 200px;
    height: 30px;
}

th {
    font-weight: normal;
}


table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

#c1 {
    width: 60px;
}

#leftforce {
    text-align: left;
}

.Skedgelogohome {
    width: center;
    height: 38px;
    padding: 18px 50px;
    color: rgb(0, 172, 224);
    font-size: 1.1cm;
    font-weight: 700;
    margin-bottom: 20px;
    align-items: left;
}
